:root {
    --clr-white: #fff;
    --clr-black: #000;
    --clr-green-primary: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    --clr-green-secondary: #30C88F;
    --clr-primary: #2D314D;
    --clr-gray: #9597A5;
    --ff-main: "Public Sans", "Arial", sans-serif;
    --font-weight: 400;
    --fw-bold: 700;
    --fw-medium: 500;
    --font-size: 16px;
    --transition-time: 0.3s;
}

/*******************************
    FONTS
********************************/

/* public-sans-100 - latin */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 100;
    src: local(''),
        url('../fonts/public-sans-v14-latin-100.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/public-sans-v14-latin-100.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* public-sans-regular - latin */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/public-sans-v14-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/public-sans-v14-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*******************************
    GENERAL STYLES
********************************/

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: var(--ff-main);
    scroll-behavior: smooth;
}

img {
    display: block;
    height: auto;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    color: var(--clr-primary);
}

p {
    color: var(--clr-gray);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* sticky footer */
.site-main {
    flex-grow: 1;
}

.text-black {
    color: var(--clr-black);
}

.text-white {
    color: var(--clr-white);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fw-medium {
    font-weight: var(--fw-medium);
}

.fw-100 {
    font-weight: 100;
}

.d-flex {
    display: flex;
}

.btn-success {
    display: inline-block;
    padding: 8px 36px;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    color: var(--clr-white);
    transition: opacity var(--transition-time) ease;
    -webkit-transition: opacity var(--transition-time) ease;
    -moz-transition: opacity var(--transition-time) ease;
    -ms-transition: opacity var(--transition-time) ease;
    -o-transition: opacity var(--transition-time) ease;
}

.btn-success:hover{
    opacity: 0.4;
}

/*******************************
    HEADER
********************************/

.site-header {}

.site-header__wrapper {
    justify-content: space-between;
    align-items: center;
}

.navigation__list {
    gap: 30px;
}

.navigation__link {
    display: inline-block;
    padding: 33px 0;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.107692px;
    color: var(--clr-primary);
    border-bottom: 4px solid transparent;
}

.navigation__link:hover{
    border-color: var(--clr-green-secondary);
}

/*******************************
    HERO
********************************/

.hero {
    padding-top: 145px;
    padding-bottom: 250px;
    background-image: url("../images/hero-bg.svg");
    background-size: 1371px 1037px;
    background-repeat: no-repeat;
    background-position: left calc(50% + 550px) top -250px;
}

.hero__wrapper {
    width: min(450px, 50%);
}

.hero__title {
    margin-bottom: 24px;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
}

.hero__text {
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
}

/*******************************
    FEATURES SECTION
********************************/

.features {
    padding: 96px 0;
    background-color: #F4F5F7;
}

.features__inner {
    width: min(635px, 50%);
    margin-bottom: 72px;
}

.features__title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 100;
    line-height: 64px;
    letter-spacing: -0.714286px;
}

.features__text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
}

.features__list {
    gap: 30px;
}

.features__item {}

.features__item::before {
    content: "";
    display: block;
    width: 72px;
    height: 72px;
    margin-bottom: 40px;
    background-image: url("../images/features/Group\ 21.svg");
}

.features__item__title {
    margin-bottom: 26px;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.428571px;
}

.features__item__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.25px;
}

/*******************************
    ARTICLES SECTION
********************************/

.articles {
    padding: 80px 0;
}

.articles__title {
    margin-bottom: 40px;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
}

.articles__list {
    gap: 30px;
}

.articles__item {
    position: relative;
    padding: 225px 24px 24px 24px;
}

.articles__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 255px;
    height: 200px;
    margin-bottom: 25px;
}

.articles__item:nth-child(1)::before {
    background-image: url("../images/articles/Rectangle\ Copy\ 4.jpg");
}

.articles__item:nth-child(2)::before {
    background-image: url("../images/articles/Rectangle\ Copy\ 4-1.jpg");
}

.articles__item:nth-child(3)::before {
    background-image: url("../images/articles/Rectangle\ Copy\ 4-2.jpg");
}

.articles__item:nth-child(4)::before {
    background-image: url("../images/articles/Rectangle\ Copy\ 4-3.jpg");
}

.articles__item__author {
    margin-bottom: 8px;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.15625px;
}

.articles__item__title {
    margin-bottom: 8px;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.285714px;
}

.articles__item__text {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.203125px;
}

/*******************************
    FOOTER
********************************/

.site-footer {
    padding: 48px 0;
    background-color: var(--clr-primary);
}

.site-footer .site-logo {
    display: inline-block;
    margin-bottom: 55px;
}

.social-list {
    gap: 14px;
}

.social__link {
    color: var(--clr-white);
}

.social__link:hover{
    color: var(--clr-green-secondary);
}

.footer-wrapper{
    justify-content: space-between;
}

.footer-wrapper__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-wrapper__list:nth-child(1) {
    margin-right: 30px;
}

.footer__link {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    color: var(--clr-white);
}

.footer__link:hover{
    color: var(--clr-green-secondary);
}

.footer-wrapper__outer{
    display: flex;
    flex-direction: column;
}

.footer-wrapper__outer .btn-success{
    display: inline-block;
    margin-bottom: 24px;
    align-self: flex-end;
}

